
/**/
.card-columns {
    column-count: 4;
}

.put-to-bottom {
    position: absolute;
    /*bottom: 0;*/
    top: 100%;
}

.event-num {
    position: absolute;
    color: gray;
    font-weight: bold;
}